/vendor/
/build/
/tests/tmp/
/tests/tmp_unerase/*.php
/benchmarks/tmp/*.php
/demo/tmp/
/.phpcs-cache
/.phpunit.result.cache
/composer.lock
/coverage.xml
/vendor-bin/**/vendor
/.phpunit.cache/
composer-require-checker.phar
