parameters:
  level: max
  paths:
    - src
    - tests
  excludes_analyse:
    - tests/tmp/*
  ignoreErrors:
  -
      message: "#has no return typehint specified\\.$#"
      path: tests/*/*.php
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
