parameters:
	excludes_analyse:
		- %currentWorkingDirectory%/tests/tmp/*
		- %currentWorkingDirectory%/tests/Fake/*
		- %currentWorkingDirectory%/tests/ReflectiveMethodInvocationTest.php
	ignoreErrors:
	    - '#Property Ray\\Aop\\ReflectiveMethodInvocation::\$callable \(callable\) does not accept array<int, object|string>.#'
	    - '#Instanceof between PhpParser\\Node\\Expr|string and PhpParser\Node\Identifier will always evaluate to false.#'
