parameters:
	excludes_analyse:
		- %currentWorkingDirectory%/tests/tmp/*
		- %currentWorkingDirectory%/tests/Fake/*
		- %currentWorkingDirectory%/tests/ReflectiveMethodInvocationTest.php
	ignoreErrors:
	    - '#Instanceof between PhpParser\\Node\\Expr|string and PhpParser\\Node\\Identifier will always evaluate to false.#'
	    - '#Property PhpParser\\Node\\Expr\\StaticCall::\$name \(PhpParser\\Node\\Expr\|string\) does not accept PhpParser\\Node\\Identifier.#'
