<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="tests/bootstrap.php"
        convertDeprecationsToExceptions="true"
>
  <testsuites>
    <testsuite name="Ray.Aop Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <coverage cacheDirectory=".phpunit.cache/code-coverage"
            processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
</phpunit>
